@import 'modular-scale';

@import "var/settings";
@import "var/lists";

@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/images";
@import "compass/utilities/general/clearfix";

@import "mixins/all";

@import "functions/breakpoints";
@import "functions/grid-calc";

@import "fonts";
@import "grid";
@import "typography";
@import "base";
@import "ui/all";


html, body {
	height: 100%;
}

.navbar {
  margin-bottom: 30px;
}

/* Prevent any object from being highlighted upon touch event*/
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.navbar .logo a {
  color: #fff;
  font-family: $font-family-heading;
  font-size: 30px;
  font-weight: 600;
  @include respond(portrait-tablets) {
    padding-left: 20px;
  }
}

.navbar ul li a {
  font-family: $font-family-heading;
  text-shadow: none;
}

.main-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

.brick {
  background: #fff;
  padding: 25px;
  margin-bottom: 20px;
  position: relative;
}

.brick .wrapper {
  position: relative;
  border-top: 1px solid #e0e2e4;
  top: 10px;
  @include respond(portrait-tablets) {
    margin-top: 25px;
  }
}

.brick .timer {
  font-size: 12px;
  position: absolute;
  right: 25px;
  @include respond(portrait-tablets) {
    top: 54px;
    left: 25px;
  }
}

.brick .left {
  border-right: 1px solid #e0e2e4;
  padding-right: 15px;
  padding-top: 15px;
  @include respond(portrait-tablets) {
    border-right: none;
    padding-right: 0;
  }
}

.brick .right {
  padding-left: 15px;
  padding-top: 15px;
  @include respond(portrait-tablets) {
    padding-left: 0;
  }
}

.brick h2 {
  font-size: 1.2rem;
  @include respond(portrait-tablets) {
    font-size: 1.4rem;
  }
  padding-top: 0;
  margin-bottom: 10px;
}

.brick ul {
  margin-bottom: 20px;
}

.push {
  height: 50px;  
}

footer {
  position: relative;
  margin: 0 auto;
  height: 50px;
}

footer ul {
  @include respond(portrait-tablets) {
    padding-left: 20px;
  }
  float: left;
}

footer h3 {
  font-size: 16px;
  font-family: $font-family-heading;
  float: right;
  @include respond(portrait-tablets) {
    padding-right: 20px;
  }
}

footer li {
  display: inline;
  margin-right: 8px;
  font-size: 14px;
  font-family: $font-family-heading;
  a {
    color: #7d7d7d;
  }
}


