{# Detail for an individual company, with HTML5 microdata #}
{# See http://schema.org/Organization #}


{% from "macros.html" import semanticComma %}
<div class="brick company">
  <div class="content" itemscope itemtype="http://data-vocabulary.org/Organization">
    <div class="item-header">
      <!-- <img class="avatar" src="http://placehold.it/110x110&text=COMPANY+LOGO"> -->
      <span class="name fleft"><a class="devco" name="{(company.nameSlug)}" itemprop="name">{(company.name)}</a></span>
      <ul class="social-icons">
        {#<li><a href="https://www.github.com/{(company.githubInfo.login)}" itemprop="url" title="{(company.name)} on GitHub"><i class="icon-github"></i></a></li>#}
        {% if company.webUrl %}
          <li><a href="{(company.procotolWebUrl)}" title="{(company.name)}" itemprop="url" title="{(company.name)} on the web"><i class="icon-globe"></i></a></li>
        {% endif %}
        {% if company.twitterUrl %}
          <li><a href="https://www.twitter.com/{(company.twitterUrl)}" itemprop="url" title="{(company.name)} on Twitter"><i class="icon-twitter"></i></a></li>
        {% endif %}
        {% if company.linkedinUrl %}
          <li><a href="https://www.linkedin.com/{(company.linkedinUrl)}" itemprop="url" title="{(company.name)} on LinkedIn"><i class="icon-linkedin"></i></a></li>
        {% endif %}
      </ul>
    </div>
    <p class="co-description" itemprop="description">{(company.description)}</p>
    {% if company.developers.length > 0 %}
    <p class="item-developers">
      <strong>New Haven area developers:</strong><br>
      {% for developer in company.developers %}
        <a href="/developers#{(developer.githubInfo.login)}" title="{(developer.firstName)} {(developer.lastName)}"><img src="{(developer.githubInfo.avatar_url)}" alt="{(developer.firstName)} {(developer.lastName)}" height="80" width="80" itemprop="employee"></a>
      {% endfor %}
    </p>
    {% endif %}
    {% if company.languages.length > 0 %}  
    <p class="item-languages" itemscope itemtype="http://schema.org/ItemList">
      {# NOTE: The '-' in this for loop eliminates whitespace #}
      <strong>Languages:</strong><br>
      {% for key in company.languages -%}
        {% if key and programmingLanguages[key] %}
          <a itemprop="itemListElement" href="/companies/{(key)}" class="tag">{(programmingLanguages[key].name)}</a>
        {% endif %}
      {%- endfor %}
    </p>
    <div class="clearfix"></div>
    {% endif %}
    <!-- <a href="#/developers/{(developer._id)}">edit</a> -->
  </div>

</div>