{% from "macros.html" import semanticComma %}
<div class="brick developer">
<div class="content">
  <div class="item-header">
    <img class="avatar" src="{(developer.githubInfo.avatar_url)}" height=80 width=80>
    <span class="name fleft">{(developer.githubInfo.name)}</span>
    <ul class="social-icons">
      <li><a href="https://www.github.com/{(developer.githubInfo.login)}"><i class="icon-github"></i></a></li>
      {% if developer.twitterUrl %}
      <li>
        <a href="https://www.twitter.com/{(developer.twitterUrl)}"><i class="icon-twitter"></i></a>
      </li>
      {% endif %}
      {% if developer.linkedinUrl %}
      <li>
        <a href="https://www.linkedin.com/{(developer.linkedinUrl)}"><i class="icon-linkedin"></i></a>
      </li>
      {% endif %}
    </ul>
  </div>
  <p>{(developer.bio)}</p>
  <p class="item-companies">
    {% if developer.companies %}
      <strong>Local {% if developer.companies.length == 1 %}company{% else %}companies{% endif %}:</strong>
      {% for company in developer.companies %}
        {(company.name)}{(semanticComma(loop.last, loop.revindex, loop.length))}
      {% endfor %}
    {% endif %}
  </p>
  <p class="item-languages">
    {% if developer.languages.length > 0 %}
  
      {# NOTE: The '-' in this for loop eliminates whitespace #}

      {% for key in developer.languages -%}
        <a href="/developers/{(key)}" class="tag">{(programmingLanguages[key].name)}</a>
      {%- endfor %}
    {% endif %}
  </p>

  <!-- <a href="#/developers/{(developer._id)}">edit</a> -->
</div>
</div>
