---
layout: default
title: newhaven.io
---
<div class="row">
  <div class="seven columns">
    <div class="brick">
      <h2><strong>welcome to newhaven.io</strong></h2>
        <p>
          newhaven.io is an aggregator for all hacker-related stuff going
          on in New Haven, CT. We’re just getting started and could use
          your help. If you’re interested in programming, the intertubes,
          and whatnot, please get in touch. We started a
          <a href="http://groups.google.com/forum/?fromgroups#!forum/newhavenio">Google Group</a>
          and are on Twitter at <a href="http://www.twitter.com/newhavenio">@newhavenio</a>.
        </p>

        <p>
          We hope to turn this website into a <em>dynamic</em> aggregator
          of hacker-related news and events in and around New Haven, CT,
          but at the moment, we are manually posting to a static site.  
          If you want to help us build something here, please start
          contributing to <a href="http://github.com/newhavenio">our repo
          on GitHub</a>.
        </p>

        <p>newhaven.io is made by people from:</p>
        <ul>
          <li>
            <a href="http://newhavenrb.org">
              NewHaven.rb
            </a>
          </li>
          <li>
            <a href="http://www.meetup.com/whiteboard-softwaredevs/">
              Whiteboard Software Developer Community
            </a>
          </li>
        </ul>
    </div>

  </div>
  <div class="nine columns">
    {% for event in site.categories.events reversed %}
      <div class="brick">
        <!-- <span class="timer" id="lunchTimer">days</span> -->
        <h2><strong>{{event.title}}</strong></h2>
        <div class="row wrapper">
          <div class="ten columns">
            <div class="left">
              <p><strong>{{event.location}}</strong>
              <br>
                <a href="http://maps.google.com/?q={{event.address | cgi_escape}}">
                  {{event.address}}
                </a>
              </p>
              <p>
                {{event.content | markdownify }}
              </p>
            </div>
          </div>
          <div class="six columns">
            <div class="right">
              <p>
                <strong>{{event.date | date: "%a %b %d"}}</strong>
                <br>{{event.time}}
              </p>
              {% if event.host %}
                <p>
                  <strong>Hosted by:</strong>
                  <br>{{event.host}}
                  {% if event.host_twitter %}
                    <br><a href="http://twitter.com/{{event.host_twitter}}">@{{event.host_twitter}}</a>
                  {% endif %}
                </p>
              {% endif %}

            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

