
{% extends "index.html" %}

{% block meta_description %}
About NewHaven.io.  NewHaven.io is a developer group
located in New Haven, CT.  We organize events, both
technical and social, about computer programming.
{% endblock %}


{# No angular views here #}
{% block ngview %}
{% endblock %}

{% block main %}

  <div class="about row">
    <div class="sixteen columns">
      <div class="brick">
        <h2><strong>About</strong></h2>
        <p><strong>newhaven.io</strong> is a group of talented and passionate individuals living, working and creating in the New Haven area. We aspire to...</p>
        <ul style="list-style: circle inside;">
          <li>organize events around business and technology</li>
          <li>unite like-minded individuals in the area</li>
          <li>foster a culture of creation and experimentation</li>
          <li>create a stronger tech and startup minded community in New Haven</li>
          <li>partner with other organizations to achieve these goals</li>
        </ul>

        <p>
          If you want to help us build something here, please start
          contributing to <a href="http://github.com/newhavenio">our repo
          on GitHub</a>.
        </p>
        <h2><strong>Code of Contact</strong></h2>
        <p>All members of NewHaven.io are expected to abide by our code of coduct found <a href='https://github.com/newhavenio/code-of-conduct/blob/master/README.md'>here</a>.</p>
      </div>
    </div>
  </div>


{% endblock %}
