
{% extends "index.html" %}

{# No angular views here #}
{% block ngview %}
{% endblock %}

{% block title%}
	New Haven {% if language %}{{language}} {% endif %}Developers
{% endblock %}

{% block main %}

	<div class="about row">
	  <div class="sixteen columns brick">
	    <h2><strong>{% block subtitle %}New Haven {% if language %}{{language}} {% endif %}Developers{% endblock %}</strong></h2>

	    {% block list %}
		    <ul style="display:block" class="developers">
		    	{% for developer in developers %}
			      <li class="developer">
			      	{% include "partials/developer-in-list.html" %}
			      </li>
		    	{% endfor %}
		    </ul>
	    {% endblock %}
	  </div>
	</div>


{% endblock %}