
{% extends "layout.html" %}

{# No angular views here #}
{% block ngview %}
{% endblock %}

{% block title%}
	New Haven {% if language %}{(language)} {% endif %}Developers
{% endblock %}

{% block main %}

  {% block list %}
    <div class="directory developers">
      <div class="searchbar">
        <div class="row">
          <div class="field">
            <input class="js-shuffle-search text fleft" type="text" placeholder="Search {% block subtitle %}New Haven {% if language %}{(language)} {% endif %}Developers{% endblock %}">
            <a href="#" class="btn-search"><img src="/images/icon_search.png" alt="search"/></a>
          </div>
        </div> 
      </div>
      <div class="row">
        <ul id="grid">
          {% set cls = cycler("alpha", "") %}
          {% for developer in developers %}
          <li class="brick-item">
            {% include "partials/developer-in-list.html" %}
          </li>
          {% endfor %}
        </ul>
      </div>
  	</div>
  {% endblock %}
  
{% endblock %}