// Your custom SCSS should be written here...
html, body {
    height: 100%;
}

.fright {
    float: right;
}

.fleft {
    float: left;
}

/* prevent the Angular template from being briefly displayed by the browser in its raw (uncompiled) form while your application is loading */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.navbar {
  margin-bottom: 0;
}

/* Prevent any object from being highlighted upon touch event*/
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.navbar .logo a {
  color: #fff;
  font-family: $font-family-heading;
  font-size: 27px;
  padding-left: 0;
  padding-top: 2px;
  line-height: 52px;
  font-weight: 400;
  @include respond(portrait-tablets) {
    padding-left: 20px;
  }
  @include respond(tablets) {
    padding-left: 20px;
  }
}

.navbar ul li {
  display: inline-block;
  float: left;
}

.navbar ul li.last {
  margin-right: 0;
}

.navbar ul li a {
  font-family: $font-family-heading;
  text-shadow: none;
  font-weight: bold;
  font-size: 16px;
}

#githubforkme {
    @include respond (all-phones) {
      display: none;
    }
    @include respond (tablets) {
      display: none;
    }
    img {
      z-index: 1;
    }
}

#masthead {
  background:  url(/images/meetup.jpg) no-repeat;
  @include background-size (cover);
  width: 100%;
  height: 1500px;
  max-height: 350px;
  position: relative;
  margin-bottom: 30px;
  border-bottom: 3px solid #ccc;
  position: relative;
  -ms-behavior: url(../../../backgroundsize.min.htc);

    .welcome {
        position: relative;
        top: 50px;

        @include respond(portrait-phones) {
            top: 20px;
        }

        @include respond(tablets) {
            padding: 0 20px;
        }

        @include respond(all-phones) {
            padding: 0 20px;
        }
    }

    h2 {
        @include respond (all-phones) {
            font-size: 35px;
        }
        font-size: 55px;
        color: #fff;
        padding-bottom: 10px;
        text-shadow: 0px 1px 3px #000;
    }

    p {
        @include respond (landscape-phones) {
            font-size: 16px;
        }
        @include respond (portrait-phones) {
            font-size: 14px;
        }
        font-size: 20px;
        color: #fff;
        font-weight: 600;
        text-shadow: 0px 1px 3px #000;
    }
}


.main-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -100;
}


.brick {
  background: #fff;
  padding: 25px;
  margin-bottom: 17px;
  position: relative;
  border-bottom: 3px solid #ccc;
}

.brick .wrapper {
  position: relative;
  border-top: 1px solid #e0e2e4;
  top: 10px;
}

.brick .event-description {
    word-wrap: break-word;
}

.brick .timer {
  font-size: 12px;
  position: absolute;
  right: 25px;
  @include respond(portrait-tablets) {
    top: 54px;
    left: 25px;
  }
}

.brick .left {
  border-right: 1px solid #e0e2e4;
  padding-right: 15px;
  padding-top: 15px;
  @include respond(portrait-tablets) {
    border-right: none;
    padding-right: 0;
  }
}

.brick .right {
  padding-left: 15px;
  padding-top: 15px;
  @include respond(portrait-tablets) {
    padding-left: 0;
  }
}

.brick h2 {
  font-size: 1.2rem;
  @include respond(portrait-tablets) {
    font-size: 1.4rem;
  }
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 13px;
  color: $body-font-color;
    a {
        font-weight: bold;
        color: $body-font-color;
        display: inline-block;
        padding-right: 15px;
        @include respond(all-phones) {
            padding-bottom: 10px;
        }
        &:hover {
            text-decoration: underline;
        }
    }

    span {
        font-weight: 600;
        @include respond(all-phones) {
            float: none;
            display: inline-block;
            padding-top: 8px;
            @include respond (all-phones) {
                padding: 0;
            }
        }

        strong {
            color: #ff7b1a;
            padding-left: 5px;
            @include respond (all-phones) {
                padding: 0;
            }
        }
    }
}

.brick ul {
  margin-bottom: 20px;
}

.about {
  margin-top: 30px;
}

.push {
  height: 100;
}

footer {
  position: relative;
  margin: 0 auto;
  height: 100;
}

footer ul {
  @include respond(portrait-tablets) {
    padding-left: 20px;
  }
  float: left;
}

footer h3 {
  font-size: 16px;
  font-family: $font-family-heading;
  float: right;
  @include respond(portrait-tablets) {
    padding-right: 20px;
  }
}

footer li {
  display: inline;
  margin-right: 8px;
  font-size: 14px;
  font-family: $font-family-heading;
  a {
    color: #7d7d7d;
  }
}


