.directory {
  .brick {
    min-height: 170px;
    margin-bottom: 20px;
  }
  &.developers {
    .brick {
      margin-bottom: 0;
      /* min-height: 301px; */
      @include respond(tablets) {
        min-height: inherit;
      }
      @include respond(all-phones) {
        min-height: inherit;
      }
    }
   
   .tag {
     float: left;
     margin-bottom: 5px;
     padding: 0 10px;
   }
  }
  .searchbar {
    height: 60px;
    background: #fff;
    position: relative;
    .field {
      margin: 0;
      input {
        font-size: 18px;
        border: none;
        width: 100%;
        padding: 0 20px 0 0;
        height: 60px;
        padding-right: 32px;
      }
      .btn-search {
        font-size: 36px;
        position: absolute;
        right: 10px;
        top: 15px;
      }
    }
  }
  
  .tag {
    color: $body-font-color;
    padding: 3px 10px;
    border: 1px solid $body-font-color-light;
    font-size: 12px;
    float: left;
    margin-bottom: 5px;
    padding: 0 10px;
  }
  .content {
    a.devco{
      color: #7d7d7d;
    }
    margin-left: 105px;
    p {
      margin-bottom: 5px;
    }
    .item-header {
      margin-bottom: 5px;
    }
    .avatar {
      float: left;
      margin-left: -105px;
      width: 80px;
      height: 80px;
      margin-top: 3px;
    }
    span.name {
      font-size: 22px;
      font-weight: bold;
      color: #7d7d7d;
      margin-right: 10px;
    }
    ul.social-icons {
      margin: 0;
      li {
        display: inline;
        i {
          margin: 0;
          color: $body-font-color-light;
        }
      }
    }
    .item-companies {
      padding-bottom: 5px;
    }
    .item-developers {
      img {
        width: 65px;
        height: 65px;
      }
    }
    .item-languages {
      margin-bottom: 0;
      a.tag {
        margin-right: 5px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .company .content {
    margin-left: 0;
  }
  .shuffle-item.concealed {
    display: none;
  }
  .shuffle__sizer {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }
  .brick-item { 
    width: 450px;
    display: block;
    float: left;
    margin-top: 20px;
    margin-right: 20px; 
    padding-bottom: 0;
    &.company {
      .brick {
        margin-bottom: 0;
      }
    }
    @include respond(tablets) {
      width: 100%;
    }
    @include respond(all-phones) {
      width: 100%;
    }
  }
  
}