<div class="about row">
  <div class="sixteen columns">
    <div class="brick">
      <h2><strong>About</strong></h2>
      <p><strong>newhaven.io</strong> is a group of talented and passionate individuals living, working and creating in the New Haven area. We aspire to...</p>
      <ul style="list-style: circle inside;">
        <li>organize events around business and technology</li>
        <li>unite like-minded individuals in the area</li>
        <li>foster a culture of creation and experimentation</li>
        <li>create a stronger tech and startup minded community in New Haven</li>
        <li>partner with other organizations to achieve these goals</li>
      </ul>
      
      <p>
        If you want to help us build something here, please start
        contributing to <a href="http://github.com/newhavenio">our repo
        on GitHub</a>.
      </p>

      <p>newhaven.io is made by people from:</p>
      <ul> 
      	<li>
          <a href="http://www.meetup.com/a100-dev-community/">
            A100 Developer Community
          </a>
        </li>
        <li>
          <a href="http://digitalsurgeons.com">
            Digital Surgeons
          </a>
        </li>
        <li>
          <a href="http://newhavenrb.org">
            NewHaven.rb
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>