<div class="about row">
  <div class="sixteen columns brick">
    <h2><strong>Admin</strong></h2>

      <ul class="tab-nav">
        <li data-ng-class="{'active': activeTab == 'developers'}">
          <a data-ng-click="activeTab='developers'">Developers</a>
        </li>
        <li data-ng-class="{'active': activeTab == 'companies'}">
          <a data-ng-click="activeTab='companies'">Companies</a>
        </li>
        <li data-ng-class="{'active': activeTab == 'meetups'}">
          <a data-ng-click="activeTab='meetups'">Meetups</a>
        </li>
      </ul>
      <div class="tab-content" data-ng-class="{'active': activeTab == 'developers'}">

        <div class="field">
          <input type="text" class="text input" ng-model="userQuery">
        </div>
        <table class="user-admin admin striped">
        <tbody>
        <tr data-ng-repeat="user in users|filter:userQuery">
          <td><img data-ng-src="{{user.githubInfo.avatar_url}}" height=40 width=40></td>
          <td class="name">{{user.firstName}} {{user.lastName}}</td>
          <td>
            <div class="medium primary btn icon-left entypo icon-pencil"><a href="/admin#/developers/{{user._id}}/edit">Edit</a> </div>
          </td>
          <td>
            <div class="medium danger btn icon-left entypo icon-cancel">
              <a data-ng-hide="user.newlyRegistered" data-ng-click="removeUser(user._id)" data-confirm-click="Delete this user?">Delete</a>
            </div>
          </td>
        </tr>
        </tbody>
        </table>
      </div>
      <div class="tab-content" data-ng-class="{'active': activeTab == 'companies'}">
        <div class="field">
          <input type="text" class="text input" ng-model="companyQuery">
        </div>
        <table class="company-admin admin striped">
        <tbody>
        <tr data-ng-repeat="company in companies|filter:companyQuery">
          <td class="name">{{company.name}}</td>
          <td>
            <div class="medium primary btn icon-left entypo icon-pencil"><a href="/admin#/companies/{{company._id}}/edit">Edit</a> </div>
          </td>
          <td>
            <div class="medium danger btn icon-left entypo icon-cancel">
              <a data-ng-click="removeCompany(company._id)" data-confirm-click="Delete this company?">Delete</a>
            </div>
          </td>
        </tr>
        </tbody>
        </table>
      </div>
  </div>
</div>

