<div class="about row">
  <div class="sixteen columns">
    <div class="brick">
      <h2 data-ng-show='company.newlyRegistered'><strong>Complete your registration</strong></h2>
		<div class="alert warning" data-ng-show='company.newlyRegistered' style="margin-bottom:2em">
			We've populated part of your profile based on 
			the OAuth info that GitHub sent over.  To complete
			your registration, please review the information
			below and hit submit.
		</div>
	    <h2><strong>Your Profile</strong></h2>

  		<form name="companyEditForm">
  			<fieldset>
			  <legend>Name &amp; Email</legend>
		      	<img class="avatar" data-ng-src="{{company.githubInfo.avatar_url}}">
	  			<ul>
	  				<li class="field" data-ng-class="{'danger': companyEditForm.name.$invalid}">
			  	        <input class="input narrow" name="name" type="text" data-ng-model="company.name" placeholder="First Name" required data-ng-minlength="3" data-ng-maxlength="50" data-ng-disabled="submitting"/>
	  				</li>
					<li class="danger alert" data-ng-show="companyEditForm.name.$invalid">Invalid first name.  Should be 3-50 characters.</li>

	  				<li class="field" data-ng-class="{'danger': companyEditForm.email.$invalid}">
			  	        <input class="input narrow email" name="email" type="email" ng-model="company.email" placeholder="Email" data-ng-minlength="3" data-ng-maxlength="50" data-ng-disabled="submitting"/>
	  				</li>
					<li class="danger alert" data-ng-show="companyEditForm.email.$invalid">Invalid email address</li>

	  			</ul>
			</fieldset>
  			<fieldset>
			  <legend>Visibility</legend>
	  			<ul>
	  				<li data-ng-class="{'danger': companyEditForm.active.$invalid}">
	  					<label class="checkbox" for="active">
				  	        <input class="input" name="active" type="checkbox" data-ng-model="company.active" />
						    <span></span> Show me as a "developer" on the NewHaven.io website
						</label>
	  				</li>
	  				<li data-ng-class="{'danger': companyEditForm.allowsContact.$invalid}">
	  					<label class="checkbox" for="allowsContact">
				  	        <input class="input" name="allowsContact" type="checkbox" data-ng-model="company.allowsContact" />
						    <span></span> Allow people to contact me using a form that has a captcha
						</label>
	  				</li>
	  			</ul>
	  		</fieldset>
  			<fieldset>
			  <legend>Social links</legend>
	  				<li class="prepend field"  data-ng-class="{'danger': companyEditForm.twitterUrl.$invalid}">
  					    <span class="adjoined">https://twitter.com/</span>
			  	        <input class="input wide" type="text" name="twitterUrl" data-ng-model="company.twitterUrl" placeholder="Twitter Handle" data-ng-minlength="3" data-ng-maxlength="50" data-ng-disabled="submitting" data-ng-pattern="/^[A-Za-z0-9_]{3,50}$/"/>
	  				</li>
					<li class="danger alert" data-ng-show="companyEditForm.twitterUrl.$invalid">Invalid Twitter handle</li>

	  				<li class="prepend field" data-ng-class="{'danger': companyEditForm.linkedinUrl.$invalid}">
  					    <span class="adjoined">https://linkedin.com/</span>
			  	        <input class="input wide" type="text" name="linkedinUrl" ng-model="company.linkedinUrl" placeholder="LinkedIn URL" data-ng-minlength="3" data-ng-maxlength="50" data-ng-disabled="submitting" data-ng-pattern="/^[A-Za-z0-9-\/]{5,75}$/"/>
	  				</li>
					<li class="danger alert" data-ng-show="companyEditForm.linkedinUrl.$invalid">Invalid LinkedIn URL</li>

	  				<li class="prepend field" data-ng-class="{'danger': companyEditForm.blogUrl.$invalid}">
  					    <span class="adjoined">http://</span>
			  	        <input class="input wide email" type="text" name="blogUrl" ng-model="company.blogUrl" placeholder="Blog URL" data-ng-minlength="3" data-ng-maxlength="50" data-ng-disabled="submitting" data-ng-pattern="/^[A-Za-z0-9-\/~]+\.[A-Za-z]{2,}([\/.][A-Za-z0-9-~]+)*\/?$/"/>
	  				</li>
					<li class="danger alert" data-ng-show="companyEditForm.blogUrl.$invalid">Invalid URL</li>

	  			</ul>
			</fieldset>
  			<fieldset>
			  <legend>Your bio</legend>
	  			<ul>
	  				<li class="field" data-ng-class="{'danger': companyEditForm.bio.$invalid}">
  					    <textarea class="input textarea" rows="3" name="bio" placeholder="Your bio here, 140 characters max." data-ng-maxlength="140" ng-model="company.bio" data-ng-disabled="submitting"></textarea>
	  				</li>
					<li class="alert" data-ng-class="{'danger': companyEditForm.bio.$invalid}" style="text-align:right;">
  					    {{140 - companyEditForm.bio.$viewValue.length}} remaining.
  					    <span data-ng-show="companyEditForm.bio.$invalid">
  					    	Should be &lt;140 characters!
  					    </span>
					</li>
	  			</ul>
			</fieldset>
  			<fieldset>
			  <legend>Local (Connecticut) companies with whom you're affiliated</legend>
	  			<ul>
	  				<li class="field" data-ng-repeat="coNo in range(1,3)">
	  					<div class="picker">
				  	        <select ng-model="company.company_ids[coNo-1]" data-ng-options="co._id as co.name for co in companies" data-ng-disabled="submitting">
		  	        	          <option value="">-- Company #{{coNo}} --</option>
				  	        </select>
				  	    </div>
	  				</li>
	  			</ul>
	  			<a href="#/companies/add">+ Add a company</a>
			</fieldset>
			<fieldset>
			  <legend>Programming languages</legend>
	  			<ul>
	  				<li class="field" data-ng-repeat="langNo in range(1,5)">
	  					<div class="picker">
				  	        <select ng-model="company.languages[langNo-1]" data-ng-options="key as lang.name for (key, lang) in programmingLanguages" data-ng-disabled="submitting">
		  	        	          <option value="">-- Language #{{langNo}} --</option>
				  	        </select>
				  	    </div>
	  				</li>
	  			</ul>
			</fieldset>
			<div class="medium btn icon-left entypo icon-right-bold" data-ng-class="(company.newlyRegistered && 'success' || !company.newlyRegistered && 'primary')"><a data-ng-click="put()">
				<span data-ng-hide="company.newlyRegistered">
					Save
				</span>
				<span data-ng-show="company.newlyRegistered">
					Complete registration
				</span>
			</a></div>
			<div class="medium danger btn icon-left entypo icon-cancel">
				<a data-ng-hide="company.newlyRegistered" data-ng-click="remove()" data-confirm-click="Delete yourself?">Delete</a>
				<a data-ng-show="company.newlyRegistered" data-ng-click="remove()" data-confirm-click="Cancel registration?">Cancel registration</a>
			</div>
  	  </form>
		</div>
	</div>
</div>
